@page "{id:int}"
@model CinemaApp.Pages.Directors.DeleteModel
@{ ViewData["Title"] = "Видалити режисера"; }

<h2>Видалити режисера?</h2><hr />
<div class="alert alert-warning">Режисер: <strong>@Model.Director.FullName</strong> (@Model.Director.Country)</div>
<form method="post">
    <button type="submit" class="btn btn-danger">Видалити</button>
    <a asp-page="Index" class="btn btn-secondary ms-2">Скасувати</a>
</form>
